html, body {
    margin: 0;
    height: 100%; /* Ensure the html and body take up the full height of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: #1B244A; /* Apply the background to the full page */
}

button {
    background-color: #2C3E50; /* Darker button background */
    color: #E5E5E5; /* Light gray text color */
    border: 2px solid #4E5D6C; /* Button border to match style */
    font-size: 1.5em;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
}


.displayScore{
    background-color: black; /* Black background for the score display */
    color: red; /* Red color for numbers */
    font-size: 1rem;
    display: flex;
    flex-direction: column; /* Arrange content vertically */
    justify-content: center;
    align-items: center;
    padding: 10px; /* Padding for some spacing inside the container */
    margin: 0 auto 20px; /* Center horizontally and provide space below */
    border-radius: 10px;

}
.displayEtc{
    color: red; /* Red color for numbers */
    font-size: 1rem;
    display: flex;
    flex-direction: column; /* Arrange content vertically */
    justify-content: center;
    align-items: center;
    padding: 1px; /* Padding for some spacing inside the container */
    border-radius: 10px;
}

.winning{
    background-color: greenyellow;
    border-radius: 5%;
    border-width: medium;
    border-color: green;
}
.container {
    display: flex;
    justify-content: space-around;
}

#reset-id{
    display: flex;
    justify-content: center;
    align-items: center;
}

